# Default ignored files
/shelf/
/workspace.xml
/bin
/obj
# Rider ignored files
/.idea.LinqConsoleLab.PL.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
